<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>User Profile</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
            <div class="profile_img">
              <div id="crop-avatar">
                <!-- Current avatar -->
                FIXME
                <img class="img-responsive avatar-view"
                     [src]="userSocial?.image || 'http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image'"
                     alt="Avatar"
                     title="Change the avatar">
              </div>
            </div>
            <h3>{{userSocial.firstName || 'Unknown'}} {{userSocial.lastName || 'Unknown'}}</h3>
            <ul class="list-unstyled user_data">
              <li><i class="fa fa-map-marker user-profile-icon"></i>
                {{userSocial.additional || 'No information available'}}
              </li>
              <li>
                <i class="fa fa-briefcase user-profile-icon"></i>
                {{userSocial.skype || 'No information available'}}
              </li>
              <li class="m-top-xs">
                <i class="fa fa-external-link user-profile-icon"></i>
                <a href="http://www.kimlabs.com/profile/" target="_blank">
                  {{userSocial.email || 'No information available'}}
                </a>
              </li>
            </ul>
          </div>

          <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="x_title">
              <h2>Account information
                <small>Information about account status and credentials.</small>
              </h2>
              <div class="clearfix"></div>
            </div>

            <form id="account-info-form" (ngSubmit)="updateUserData()" [formGroup]="userDataForm" novalidate
                  class="form-horizontal form-label-left">
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Username<span
                  class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" formControlName="username" class="form-control col-md-7 col-xs-12">

                  <div
                    *ngIf="userDataForm.get('username').hasError('required') && userDataForm.get('username').touched">
                    <div class="alert alert-danger alert-dismissable">
                      Username is required
                    </div>
                  </div>
                  <div
                    *ngIf="userDataForm.get('username').hasError('minlength') && userDataForm.get('username').touched">
                    <div class="alert alert-danger alert-dismissable">
                      Minimum of 4 characters
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Password<span
                  class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="input-group">
                    <input type="password" #password formControlName="password" class="form-control">
                    <span class="input-group-addon">
                    <input type="checkbox" aria-label="Checkbox for following text input"
                           (click)="showPassword(password)">
                  </span>
                  </div>

                  <div
                    *ngIf="userDataForm.get('password').hasError('required') && userDataForm.get('password').touched">
                    <div class="alert alert-danger alert-dismissable">
                      Password is required
                    </div>
                  </div>
                  <div *ngIf="userDataForm.get('password').hasError('pattern') && userDataForm.get('password').touched">
                    <div class="alert alert-danger alert-dismissable">
                      Password should be length of at least 5 and contain at least 1 digit, 1 uppercase letter and 1
                      special
                      symbol
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Authorities</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span type="text" class="form-control col-md-7 col-xs-12" readonly="readonly">
                    {{getUserAuthority(user?.authorities)}}
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Account non locked</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span type="text" class="form-control col-md-7 col-xs-12" readonly="readonly">
                    {{user?.accountNonLocked}}
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Enabled</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span type="text" class="form-control col-md-7 col-xs-12" readonly="readonly">
                    {{user?.enabled}}
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Created at</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span type="text" class="form-control col-md-7 col-xs-12" readonly="readonly">
                    {{user?.createdAt |  date:"MM/dd/yyyy 'at' h:mma"}}
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Updated at</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span type="text" class="form-control col-md-7 col-xs-12" readonly="readonly">
                    {{user?.updatedAt |  date:"MM/dd/yyyy 'at' h:mma"}}
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Social Login</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div class="">
                    <label>
                      <input type="checkbox" formControlName="facebookLoginEnabled" value="true" class="js-switch"/>
                      Facebook
                    </label>
                    <br/>
                    <label>
                      <input type="checkbox" formControlName="linkedInLoginEnabled" value="true" class="js-switch"/>
                      LinkedIn
                    </label>
                    <br/>
                    <label>
                      <input type="checkbox" formControlName="twitterLoginEnabled" value="true" class="js-switch"/>
                      Twitter
                      <br/>
                    </label>
                  </div>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button (click)="resetUserForm()" class="btn btn-danger">Reset</button>
                  <button [disabled]="userDataForm.invalid || !userDataForm.dirty"
                          type="submit" class="btn btn-success">Submit
                  </button>
                </div>
              </div>
            </form>

            <div class="x_title">
              <h2>Additional information
                <small>Social information.</small>
              </h2>
              <div class="clearfix"></div>
            </div>
            <form id="account-social-info-form" (ngSubmit)="updateUserSocialData()" [formGroup]="userSocialDataForm"
                  novalidate class="form-horizontal form-label-left">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Email
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" formControlName="email" [email]="userSocial.email !== ''"
                         class="form-control col-md-7 col-xs-12">

                  <div
                    *ngIf="userSocialDataForm.get('email').hasError('email') && userSocialDataForm.get('email').touched">
                    <div class="alert alert-danger alert-dismissable">
                      Invalid email
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">First name
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" formControlName="firstName" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Last name
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" formControlName="lastName" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Skype
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" formControlName="skype" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Facebook
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" formControlName="facebook" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">LinkedIn
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" formControlName="linkedIn" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Twitter
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" formControlName="twitter" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Created at</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span type="text" class="form-control col-md-7 col-xs-12" readonly="readonly">
                    {{userSocial?.createdAt |  date:"MM/dd/yyyy 'at' h:mma"}}
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Updated at</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <span type="text" class="form-control col-md-7 col-xs-12" readonly="readonly">
                    {{userSocial?.updatedAt |  date:"MM/dd/yyyy 'at' h:mma"}}
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Additional
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea formControlName="additional" class="form-control col-md-7 col-xs-12"></textarea>
                </div>
              </div>


              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button (click)="resetUserSocialForm()" class="btn btn-danger">Reset</button>
                  <button [disabled]="userSocialDataForm.invalid || userSocialDataForm.pristine"
                          type="submit" class="btn btn-success">Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
