<div class="source">
  <div class="source__github">
    <div class="source__image">
      <img src="" alt="" title=""/>
    </div>
    <div class="source__link"></div>
    <div class="source__description"></div>
  </div>
  <div class="source__twitter">
    <div class="source__image">
      <img src="" alt="" title=""/>
    </div>
    <div class="source__link"></div>
    <div class="source__description"></div>
  </div>
  <div class="source__linkedin">
    <div class="source__image">
      <img src="" alt="" title=""/>
    </div>
    <div class="source__link"></div>
    <div class="source__description"></div>
  </div>
</div>
