<div class="container-fluid">

    <div class="col-sm-2">
        <div class="well well-sm bs-component" style="padding: 10px;">

            <div class="row-picture" flow-init="{target:'/api/images/upload', singleFile: true, testChunks:false}"
                 flow-files-submitted="$flow.upload()" flow-file-success="fileUploaded($file, $message)">
                <img class="img-thumbnail img-responsive" flow-img="$flow.files[0]"
                     style="width: 200px; height: 170px;"
                     src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"/>
                <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="">
                    Select image<input type="file"
                                       style="visibility: hidden; position: absolute;"></span>
                <span class="btn btn-info ng-hide" ng-show="$flow.files.length" flow-btn="">
                    Change<input type="file"
                                 style="visibility: hidden; position: absolute;"></span>
                <span class="btn btn-danger ng-hide" ng-show="$flow.files.length"
                      ng-click="resetImage($flow)">Remove</span>
            </div>
        </div>

        <div class="well well-sm">
            <div class="btn-group-sm btn-block">
                <button type="submit" class="btn btn-primary" form="profileForm">Submit</button>
                <button type="button" class="btn btn-warning" ng-click="close()">Cancel</button>
            </div>
        </div>
    </div>

    <div class="col-sm-9">
        <div class="well bs-component">
            <form class="form-horizontal" ng-submit="submit(worker)" id="profileForm">
                <fieldset>
                    <legend>Worker profile</legend>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="profileEmail" class="col-md-2 control-label">Email</label>
                            <div class="col-md-10">
                                <input type="email" class="form-control" id="profileEmail" placeholder="Email"
                                       ng-model="worker.email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="profilePhone" class="col-md-2 control-label">Phone</label>
                            <div class="col-md-10">
                                <input type="tel" class="form-control" id="profilePhone"
                                       placeholder="+375 XX XXX XX XX" ng-model="worker.phone"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="firstName" class="col-md-2 control-label">First Name</label>
                                <div class="col-md-10">
                                    <input type="input" class="form-control" id="firstName" placeholder="First Name"
                                           ng-model="worker.name.firstName" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="lastName" class="col-md-2 control-label">Last Name</label>
                                <div class="col-md-10">
                                    <input type="input" class="form-control" id="lastName" placeholder="Last Name"
                                           ng-model="worker.name.lastName" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="gender" class="col-md-2 control-label">Gender</label>
                                <div class="col-md-10">
                                    <select id="gender" class="form-control" ng-model="worker.gender" required>
                                        <option value="">Please select</option>
                                        <option value="MALE">Male</option>
                                        <option value="FEMALE">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="birthday" class="col-md-2 control-label">Birthday</label>
                                <div class="col-md-10">
                                    <input type="date" class="form-control" id="birthday"
                                           placeholder="e.g. 11/01/1985" ng-model="worker.birthday"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="speciality" class="col-md-2 control-label">Apply to the position</label>
                        <div class="col-md-10">
                            <select id="speciality" class="form-control" ng-model="worker.speciality" required>
                                <option value="">Please select</option>
                                <option value="UNKNOWN">Unknown</option>
                                <option value="SOFTWARE_ENGINEER">Software Engineer</option>
                                <option value="BUSINESS_ANALYST">Business Analyst</option>
                                <option value="PROJECT_MANAGER">Project Manager</option>
                                <option value="TECHNICAL_LEADER">Technical Leader</option>
                                <option value="QUALITY_ASSURANCE">Quality Assurance</option>
                                <option value="RESOURCE_MANAGER">Resource Manager</option>
                                <option value="SYSTEM_ADMINISTRATOR">System Administrator</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-md-2 control-label">Description</label>
                        <div class="col-md-10">
                        <textarea type="input" class="form-control" id="description"
                                  placeholder="Description" ng-model="worker.description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="skype" class="col-md-2 control-label">Skype</label>
                        <div class="col-md-10">
                            <input type="input" class="form-control" id="skype" placeholder="Skype"
                                   ng-model="worker.skype">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="github" class="col-md-2 control-label">GitHub</label>
                        <div class="col-md-10">
                            <input type="input" class="form-control" id="github" placeholder="GitHub URL"
                                   ng-model="worker.githubUrl">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="linkedin" class="col-md-2 control-label">Linkedin</label>
                        <div class="col-md-10">
                            <input type="input" class="form-control" id="linkedin" placeholder="Linkedin URL"
                                   ng-model="worker.linkedInUrl">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>