<div class="x_panel">
  <div class="x_content">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Topics overview
            <small>Information about all user repositories topics.</small>
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ngx-charts-advanced-pie-chart
            [view]="topicsTotalView"
            [scheme]="topicsTotalScheme"
            [results]="topicsTotal"
            [label]="topicsTotalLabel">
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>

      <!--<div class="x_panel">-->
      <!--<div class="x_title">-->
      <!--<h2>Topics overview-->
      <!--<small>Information about all user repositories topics.</small>-->
      <!--</h2>-->
      <!--<div class="clearfix"></div>-->
      <!--</div>-->
      <!--<div class="x_content">-->
      <!--<ngx-charts-advanced-pie-chart-->
      <!--[view]="view"-->
      <!--[scheme]="scheme"-->
      <!--[results]="topicsTotal"-->
      <!--[label]="label">-->
      <!--</ngx-charts-advanced-pie-chart>-->
      <!--</div>-->
      <!--</div>-->
    </div>


  </div>
</div>
