<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-user-circle"></i> <span>Unity HRAT</span></a>
    </div>
    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img [src]="imageToShow | safeUrl"
             alt="Place image title"
             class="img-circle profile_img"
             *ngIf="!isImageLoading && imageToShow; else noImageFound">
        <ng-template #noImageFound>
          <img class="img-circle profile_img" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image"
               alt="Fallbackimage">
        </ng-template>
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>{{userSocial?.firstName || 'Undefined'}} {{userSocial?.lastName || 'Undefined'}}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu" #menu>
          <li routerLinkActive="active" id="analytics">
            <a id="homeli" [routerLink]="['/analytics']">
              <i class="fa fa-home"></i> Reports <span id="homechevron" class="fa fa-chevron-down"></span>
            </a>
          </li>

          <li routerLinkActive="active" id="newAnalysis" (click)="activate()">
            <a id="formsli"><i class="fa fa-edit"></i>
              New Analysis <span id="formschevron" class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu">
              <li><a [routerLink]="['/analytics/new/github']" routerLinkActive="current-page">Github</a></li>
              <li><a [routerLink]="['/analytics/new/linkedin']" routerLinkActive="current-page">LinkedIn</a></li>
              <li><a [routerLink]="['/analytics/new/twitter']" routerLinkActive="current-page">Twitter</a></li>
            </ul>
          </li>
          <li routerLinkActive="active" (click)="activate($event)" id="admin">
            <a><i class="fa fa-desktop"></i> Admin
              <span class="fa fa-chevron-down"></span>
            </a>
            <ul class="nav child_menu" routerLinkActive="visible-menu">
              <li routerLinkActive="current-page"><a [routerLink]="['/users']">Users</a></li>
              <li routerLinkActive="current-page"><a [routerLink]="['/users/new']">New user</a></li>
            </ul>
          </li>
          <li routerLinkActive="active" id="profile">
            <a id="tablesli" [routerLink]="['/profile']"><i class="fa fa-table"></i> My profile
              <span id="tableschevron" class="fa fa-chevron-down"></span>
            </a>
          </li>
          <li routerLinkActive="active" id="logout">
            <a id="layoutsli" [routerLink]="['/logout']"><i class="fa fa-clone"></i>Log out
              <span id="layoutschevron" class="fa fa-chevron-down"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->

  </div>
</div>
