<h1>Profile Overview</h1>
<div class="bg-faded" style="padding-left: 20px">
  <div class="row">
    <div class="col-sm-3 pt-3">
      <img alt="" class="avatar width-full rounded-2" height="230"
           src="{{report?.result.avatarUrl}}" width="230">
    </div>
    <div class="col-sm-6 pt-3">
      <div class="row">
        <h2>{{report?.result.name}}</h2>
      </div>
      <hr/>
      <div class="row">
        <h4>{{report?.result.login}}</h4>
      </div>
      <hr/>
      <div class="row">
        <p>{{report?.result.bio}}</p>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-sm-2 pt-3">
      <h2>Contacts</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Email: <a href="mailto:{{report?.result.email}}">{{report?.result.email}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Blog: <a href="{{report?.result.blog}}" class="url"
               rel="nofollow me">{{report?.result.blog}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 pt-3">
      <h2>General</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Company: {{report?.result.company}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Followers: {{report?.result.followers}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Following: {{report?.result.following}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Created at: {{report?.result.createdAt | date:'dd/MM/yyyy'}}
    </div>
  </div>
</div>
