.modal-dialog .large {
  width: 60%;
}

.modal-dialog {
  position: relative;
  display: table;
  overflow-y: scroll;
  overflow-x: auto;
  width: auto;
  min-width: 300px;
  max-width: 100%;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.active {
  border: 2px solid;
}
