<div class="container-fluid full">
    <br><br>
    <div class="col-sm-8 col-sm-offset-2">
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>

        <div class="row text-center">
            <h2 style="font-weight: 200">Welcome to UNITY!</h2>
            <h3>Human resource management system</h3>
        </div>
        <div class="row text-center">
            <h4>Start using Unity with some information about it's basics. Or just do what you want if you are
                familiar.</h4>
        </div>
        <div class="row text-center">
            <p><a href="#help" class="btn btn-primary btn-raised">Get some basics</a></p>
        </div>
    </div>
</div>