footer {
  background: #fff;
  padding: 15px 20px;
  display: block;
}

.nav-sm footer {
  margin-left: 70px;
}

.footer_fixed footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

@media (min-width: 768px) {
  .footer_fixed footer {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .footer_fixed .nav-sm footer {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  footer {
    margin-left: 230px;
  }
}
