<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Github profile information</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" class="active"><a href="#profile_tab" id="profile-tab" role="tab"
                                                        data-toggle="tab"
                                                        aria-expanded="true">Profile</a>
              </li>
              <li role="presentation" class=""><a href="#repos_tab" role="tab" id="repositories-tab"
                                                  data-toggle="tab"
                                                  aria-expanded="false">Repositories</a>
              </li>
              <li role="presentation" class=""><a href="#tech_tab" role="tab" id="tech-tab" data-toggle="tab"
                                                  aria-expanded="false">Languages & Technologies</a>
              </li>
              <li role="presentation" class=""><a href="#fork_tech_tab" role="tab" id="fork-tech-tab" data-toggle="tab"
                                                  aria-expanded="false">Forked Languages & Technologies</a>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="profile_tab" aria-labelledby="profile-tab">
                <app-github-profile [analysisResult]="report.result"></app-github-profile>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="repos_tab" aria-labelledby="repositories-tab">
                <app-github-repositories [repositories]="report.result.repos"></app-github-repositories>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tech_tab" aria-labelledby="tech-tab">
                <app-github-technologies [analysisResult]="report.result"></app-github-technologies>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="fork_tech_tab" aria-labelledby="fork-tech-tab">
                <app-github-forked-technologies [analysisResult]="report.result"></app-github-forked-technologies>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
