<div class="container-fluid bg-faded" style="height: 100%">
  <div class="jumbotron">
    <img class="img-responsive" style="height: 20%; max-width: 80%"
         src="assets/img/twitter-transparent.png">
    <h1>Twitter Analysis tool</h1>
    <p class="lead">Analyze person's twitter profile and you will know what he prefers to read. Maybe he reads a lot of
      IT-related profiles?</p>
    <div class="input-group col-sm-4 offset-sm-4">
      <input type="text" class="form-control" placeholder="Analyze for..." [(ngModel)]="login">
      <span class="input-group-btn">
        <button class="btn btn-secondary btn-success" type="button"
                data-loading-text=""
                (click)="analyze()"
                [ngClass]="{'disabled':  !login || login == '' }">
          <span>Analyze</span>
        </button>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>Subscriptions overview</h2>
      <p>Overview candidate subscriptions to popular IT-related resources. </p>
    </div>
    <div class="col-lg-6">
      <h2>Interests analysis</h2>
      <p>Explore technologies and languages that candidate is interested in. Explore graphics and charts to understand what
        are the fields which person wants to learn mostly </p>
    </div>
  </div>
</div>
