<div class="header-panel col-sm-8 col-sm-offset-2">
    <a href="#/new/worker" class="btn btn-raised btn-sm">Create worker</a>
    <a href="javascript:void(0)" class="btn btn-raised btn-sm" ng-click="deleteProfiles()">Delete workers</a>
</div>

<div class="well col-sm-8 col-sm-offset-2">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th><input type="checkbox" class="form-control"/></th>
            <th></th>
            <th>Worker</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in workers">
            <td>
                <input type="checkbox" class="form-control"/>
            </td>
            <td>
                <img class="circle" ng-src="{{getImageUrl(item.imageId) ||
                'http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image'}}"
                     alt="image"
                     style="width: 80px; height: 80px;">
            </td>
            <td>
                <h4 class="list-group-item-heading">{{item.name.firstName}} {{item.name.lastName}}</h4>
                <p class="list-group-item-text">{{item.description}}</p>
            </td>
            <td align="right">
                <div class="btn-group">
                    <a href="#/workers/view/{{item.id}}" class="btn btn-default btn-raised  btn-xs">View</a>
                    <button type="button" data-target="#" data-toggle="dropdown"
                            class="btn btn-default btn-raised dropdown-toggle btn-xs">

                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0)">Edit</a></li>
                        <li><a href="javascript:void(0)">Another action</a></li>
                        <li><a href="javascript:void(0)">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="list-group-separator" ng-repeat-end></div>
</div>
</div>
