<div class="x_panel">
  <div class="x_content">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Fork topics overview
            <small>Information about forked repositories topics.</small>
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ngx-charts-advanced-pie-chart
            [view]="topicsTotalView"
            [scheme]="topicsTotalScheme"
            [results]="topicsTotal"
            [label]="topicsTotalLabel">
          </ngx-charts-advanced-pie-chart>
        </div>
      </div>

      <div class="x_panel">
        <div class="x_title">
          <h2>Fork languages overview
            <small>Information about forked repositories languages.</small>
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <ngx-charts-pie-grid
            [view]="languagesTotalView"
            [scheme]="languagesTotalScheme"
            [results]="languagesTotal">
          </ngx-charts-pie-grid>
        </div>
      </div>
    </div>
  </div>
</div>
