<h1>Profile Overview</h1>
<div class="bg-faded" style="padding-left: 20px">
  <div class="row">
    <div class="col-sm-2 pt-3">
      <img alt="" class="avatar width-full rounded-2" height="230"
           src="{{gitProfile.avatarUrl}}" width="230">
    </div>
    <div class="col-sm-6 pt-3">
      <div class="row">
        <h2>{{gitProfile.name}}</h2>
      </div>
      <hr/>
      <div class="row">
        <h4>{{gitProfile.login}}</h4>
      </div>
      <hr/>
      <div class="row">
        <p>{{gitProfile.bio}}</p>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-sm-2 pt-3">
      <h2>Contacts</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Email: <a href="mailto:{{gitProfile.email}}">{{gitProfile.email}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Blog: <a href="{{gitProfile.blog}}" class="url"
                     rel="nofollow me">{{gitProfile.blog}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 pt-3">
      <h2>General</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Company: {{gitProfile.company}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Followers: {{gitProfile.followers}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Following: {{gitProfile.following}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 pt-3">
      Created at: {{gitProfile.createdAt}}
    </div>
  </div>
</div>
