<div [@dialog] *ngIf="visible" class="modal-dialog modal-lg dialog">
  <div class="">
    <div class="source responsive">
      <div class="source__github content">
        <div class="source__image card-front">
          <img src="assets/img/GitHub-logo.png" alt="" title=""/>
          <div class="source__description card-back">
            <ul>
              <li> Languages overview</li>
              <li> Technologies overview</li>
              <li> Repositories and stars</li>
              <li> Contributions</li>
            </ul>
          </div>
        </div>
        <div class="source__link">
          <a (click)="selectGithub()">GO</a>
        </div>
      </div>
      <div class="source__twitter content">
        <div class="source__image card-front">
          <img src="assets/img/Logo-linkedin.png" alt="" title=""/>
          <div class="source__description card-back">
            <ul>
              <li> Positions overview</li>
              <li> Recomendations overview</li>
              <li> Skills overview</li>
            </ul>

          </div>
        </div>
        <div class="source__link">
          <a (click)="selectLinkedIn()">GO</a>
        </div>
      </div>
      <div class="source__linkedin content">
        <div class="source__image card-front">
          <img src="assets/img/Twitter-Logo.png" alt="" title=""/>
          <div class="source__description card-back">
            <ul>
              <li> Subscriptions</li>
              <li> Fields of interest</li>
            </ul>
          </div>
        </div>
        <div class="source__link">
          <a (click)="selectTwitter()">GO</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
