.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1000;
}

.dialog {
  z-index: 1001;
  position: fixed;
  right: 0;
  left: 0;
  top: 10%;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  width: 50%;
  padding: 50px 20px;
  background-color: #fff;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

#scroll::-webkit-scrollbar {
  width: 4px;
  border-radius: 3px;
  white-space: nowrap;
  background: #dddddd;
}

#scroll::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ff5063;
}

.source {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.source > div {
  flex-basis: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #E6E9ED;
}

.source__image {
  flex-basis: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
  transition: 400ms;

}

.source img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;

}

.source__image:hover .source__description {
  opacity: 1;
  z-index: 100;
  transition: 400ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: slidein;
  padding: 10px;
}

.source__link {
  flex-basis: 100%;
}

.source__link:hover a {
  background: #169F85;
}

.source__link a {
  padding: 10px 0;
  display: block;
  text-align: center;
  background: #26B99A;
  border: 1px solid #169F85;
  text-decoration: none;
  color: #fff;
}

.source__description {
  opacity: 0;
  transition: 400ms;
  background-color: #000000bf;
  color: #fff;
  padding: 0px;
  box-sizing: border-box;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -100;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
