<div [@dialog] *ngIf="visible" class="modal-dialog modal-lg dialog">
  <div class="x_title">
    <h2>Select analyzed source</h2>
    <div class="clearfix"></div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="pricing">
      <div class="title">
        <img src="assets/img/github-logo.png" alt="" title=""/>
      </div>
      <div class="x_content">
        <div class="">
          <div class="pricing_features">
            <ul class="list-unstyled text-left">
              <li><i class="fa fa-check text-success"></i> Languages overview</li>
              <li><i class="fa fa-check text-success"></i> Technologies overview</li>
              <li><i class="fa fa-check text-success"></i> Repositories and stars</li>
              <li><i class="fa fa-check text-success"></i> Contributions</li>
            </ul>
          </div>
        </div>
        <div class="pricing_footer">
          <a href="javascript:void(0);" (click)="selectGithub()" class="btn btn-success btn-block" role="button">
            Select
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-12">
    <div class="pricing">
      <div class="title">
        <img src="assets/img/twitter-transparent.png" alt="" title=""/>
      </div>
      <div class="x_content">
        <div class="">
          <div class="pricing_features">
            <ul class="list-unstyled text-left">
              <li><i class="fa fa-check text-success"></i> Subscriptions</li>
              <li><i class="fa fa-check text-success"></i> Fields of interest</li>
            </ul>
          </div>
        </div>
        <div class="pricing_footer">
          <a href="javascript:void(0);" (click)="selectTwitter()" class="btn btn-success btn-block" role="button">
            Select
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>
