<div class="animate form login_form">
  <section class="login_content container">
    <form novalidate [formGroup]="credentials" (ngSubmit)="login()">
      <h1>Login Form</h1>
      <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-4">
          <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
            <i class="fa fa-facebook visible-xs"></i>
            <span class="hidden-xs">Facebook</span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-4">
          <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
            <i class="fa fa-twitter visible-xs"></i>
            <span class="hidden-xs">Twitter</span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-4">
          <a href="#" class="btn btn-lg btn-block omb_btn-google">
            <i class="fa fa-google-plus visible-xs"></i>
            <span class="hidden-xs">Google+</span>
          </a>
        </div>
      </div>
      <h1>or</h1>
      <div>
        <input type="text" class="form-control" formControlName="username" placeholder="Username"/>
        <div
          *ngIf="credentials.get('username').invalid && (credentials.get('username').dirty || credentials.get('username').touched)"
          class="alert alert-danger">

          <div *ngIf="credentials.get('username').hasError('required')">
            Username is required.
          </div>
        </div>
      </div>
      <div>
        <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
        <div
          *ngIf="credentials.get('password').invalid && (credentials.get('password').dirty || credentials.get('password').touched)"
          class="alert alert-danger">

          <div *ngIf="credentials.get('password').hasError('required')">
            Password is required.
          </div>
        </div>
        <div>
          <button class="btn btn-default submit" type="submit" [disabled]="credentials.invalid || loading">Log in
          </button>
          <a class="reset_pass" href="#">Lost your password?</a>
        </div>

        <div class="clearfix"></div>

        <div class="separator">
          <p class="change_link">New to site?
            <a href="#signup" class="to_register"> Create Account </a>
          </p>

          <div class="clearfix"></div>
          <br/>

          <div>
            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
