<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Users</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <br/>
          <br/>
          <table class="table table-striped projects">
            <thead>
            <tr>
              <th style="width: 1%">#</th>
              <th style="width: 20%" (click)="sort('updated_at')">
                Id<span class="glyphicon sort-icon" *ngIf="sortKey =='updated_at'"
                        [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('username')">Username
                <span class="glyphicon sort-icon" *ngIf="sortKey =='username'"
                      [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </th>
              <th (click)="sort('authorities')">Roles
                <span class="glyphicon sort-icon" *ngIf="sortKey =='authorities'"
                      [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
              <th (click)="sort('enabled')">Status
                <span class="glyphicon sort-icon" *ngIf="sortKey =='enabled'"
                      [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span></th>
              <th style="width: 20%">Edit</th>
            </tr>
            </thead>
            <tbody>

            <tr
              *ngFor="let user of users | orderBy: sortKey : reverse | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
              <td>{{i+1}}</td>
              <td>
                <a>{{user.id}}</a>
                <br/>
                <small>Updated {{user.updatedAt | date:"MM/dd/yyyy 'at' h:mma"}}</small>
              </td>
              <td>
                {{user.username}}
              </td>
              <td>
                <button *ngIf="user.authorities.indexOf('ROLE_ADMIN') > -1" class="btn btn-round btn-sm btn-info"
                        style="cursor:default;">ADMIN
                </button>
                <button *ngIf="user.authorities.indexOf('ROLE_ADMIN') === -1" class="btn btn-round btn-sm btn-success"
                        style="cursor:default;">USER
                </button>
              </td>
              <td>
                <button type="button" ngClass="{{user.enabled ? 'btn-success' : 'btn-danger'}}" class="btn btn-xs">
                  {{user.enabled ? 'Enabled' : 'Disabled'}}
                </button>
              </td>
              <td>
                <a (click)="showUserInfoDialog(user)" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i>
                  View</a>
                <a [routerLink]="['/users', user.id]" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i>
                  Edit </a>
                <a (click)="showUserDeleteDialog(user)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>
                  Delete </a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-center">
            <pagination-controls class="users-pagination" (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-user-delete-dialog [(visible)]="showDeleteDialog" (deleteEvent)="deleteUser($event)"
                        [user]="userToDelete"></app-user-delete-dialog>
<app-user-show-dialog [(visible)]="showInfoDialog" [user]="userToShow"></app-user-show-dialog>
