<div class="container-fluid bg-faded" style="height: 100%">
  <div class="col-sm-8 offset-sm-2">
    <br/>
    <br/>
    <div class="row">
      <div class="col col-sm-4" [ngClass]="{'active': 0 == source}" (click)="select('Github')">
        <div class="card">
          <img class="card-img-top img-responsive"
               src="https://image.flaticon.com/icons/svg/25/25231.svg"
               alt="Card image cap"
               style="height: 300px">
          <div class="card-block">
            <h4 class="card-title">Github</h4>
            <p class="card-text">Analyze person's repositories and you will know about his favourite
              languages and technologies he prefers. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Language and Technologies overview</li>
            <li class="list-group-item">Contributions (Not available for now)</li>
            <li class="list-group-item">Collaborations (Not available for now)</li>
          </ul>
        </div>
      </div>
      <div class="col pl-3 pr-3 col-sm-4">
        <div class="card grayscale">
          <img class="card-img-top img-responsive"
               src="http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png"
               alt="Card image cap"
               style="height: 300px">
          <div class="card-block">
            <h4 class="card-title">Facebook</h4>
            <p class="card-text">"Tell me who is your friend, and i would tell you who you are"-It is important to
              know social aspect of person life, so this analyse is for that.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Not available for now</li>
            <li class="list-group-item">Not available for now</li>
            <li class="list-group-item">Not available for now</li>
          </ul>
        </div>
      </div>
      <div class="col col-sm-4">
        <div class="card grayscale">
          <img class="card-img-top img-responsive"
               src="http://www.socialmediatoday.com/sites/default/files/adhutchinson/files/alltwitter-twitter-bird-logo-white-on-blue(8).png"
               alt="Card image cap"
               style="height: 300px">
          <div class="card-block">
            <h4 class="card-title">Twitter</h4>
            <p class="card-text">What are the interests of person? Maybe he reads a lot of IT related info from
              twitter, it will be a + for him, and you should know it, of course.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Not available for now</li>
            <li class="list-group-item">Not available for now</li>
            <li class="list-group-item">Not available for now</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="form-group pr-3 pt-3">
        <button type="button" class="btn btn-primary pl-3" (click)="confirm()">OK</button>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
      </div>
    </div>
  </div>
</div>
