<div class="container-fluid bg-3 text-center">
    <br><br>

    <br><br>
    <h1>Why HRMS?</h1>
    <br><br>
    <div class="row">
        <div class="col-sm-4">
            <h4>A HRMS (Human Resource Management System) is a combination of systems and processes that connect human
                resource management and information technology through HR software. A HRMS may help to revolutionize a
                workplace. The automation of repetitive and time consuming tasks associated with human resources
                management
                frees up some of the companies most valuable employees and allows the focus to shift to culture,
                retention,
                and other highly impactful areas.</h4>
        </div>
        <div class="col-sm-4">
            <h4>Selecting a HRMS to handle HR activities is a trademark of the modern company, there are few successful
                companies in any industry that do not have some sort of automation in place for HR tasks at this
                juncture.
                Mobile accessibility has further worked to transform the landscape of HR, putting information and task
                management at the fingertips of employees and managers. HRMS has helped to effectively break down
                bureaucracy and “flatten” many organizations.</h4>
        </div>
        <div class="col-sm-4">
            <h4>The function of the human resources department involves tracking employee lists, candidates and
                vacancies.
                Replacing certain processes with various levels of HRMS systems can distribute information management
                responsibilities so that the bulk of information gathering is not delegated strictly to HR. HRMS can be
                integrated with LMS and then employees are allow to update personal information and perform other tasks,
                information is kept more accurate and HR professionals are not bogged down.</h4>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <img class="img-responsive"  style="margin-left:1%" src="app/public/images/employes.png" alt="Image">
            </div>
        </div>
    </div>
</div>