<div class="container-fluid bg-3 text-center">
    <h3>What for?</h3>
    <div class="row">
        <div class="col-sm-4">
            <p>A HRMS (Human Resource Management System) is a combination of systems and processes that connect human resource management and information technology through HR software. A HRMS may help to revolutionize a workplace. The automation of repetitive and time consuming tasks associated with human resources management frees up some of the companies most valuable employees and allows the focus to shift to culture, retention, and other highly impactful areas.</p>
            <img src="birds1.jpg" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Selecting a HRMS to handle HR activities is a trademark of the modern company, there are few successful companies in any industry that do not have some sort of automation in place for HR tasks at this juncture. Mobile accessibility has further worked to transform the landscape of HR, putting information and task management at the fingertips of employees and managers. HRMS has helped to effectively break down bureaucracy and “flatten” many organizations.</p>
            <img src="birds2.jpg" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>The function of the human resources department involves tracking employee lists, candidates and vacancies. Replacing certain processes with various levels of HRMS systems can distribute information management responsibilities so that the bulk of information gathering is not delegated strictly to HR. HRMS can be integrated with LMS and then employees are allow to update personal information and perform other tasks, information is kept more accurate and HR professionals are not bogged down.</p>
            <img src="birds3.jpg" alt="Image">
        </div>
    </div>
</div>