<div class="container-fluid bg-faded" style="height: 100%">
  <div *ngIf="!userAnalytics">
    <div class="row pt-5"></div>
    <div class="row pt-5"></div>
    <div class="row">
      <div class="col-md-6 offset-md-3 pt-5">
        <div class="card text-center">
          <div class="card-block">
            <h4 class="card-title">No analysed profiles yet</h4>
            <p class="card-text">Click button to select source of analysis.</p>
            <button (click)=showSelect() class="btn btn-primary">Select source</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="userAnalytics">
    <div class="row card-block">
      <div class="col-lg-2 text-xs-center" *ngFor="let report of userAnalytics.reports">
        <div class="card  card-block card-default form-group">
          <img class="card-img-top img-responsive" style="height: 25%; width: 100%"
               src="{{report.result.avatarUrl || 'http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image'}}"
               alt="Card image cap">
          <h4 class="card-title">{{report.result.login}}</h4>
          <p class="card-text">{{report.result.bio}}</p>
          <div class="button-bar text-right">
            <button (click)=showSelected(report.result.login,report.id) type="button" class="btn btn-info">Info</button>
            <button (click)=deleteSelected(report.id) type="button" class="btn btn-danger">Delete</button>
          </div>
          <div class="card-footer">
            <p class="text-muted">Analyzed at {{report.analyzedAt | date:'dd/MM/yyyy'}}
              <br/>Analysis time: {{report.analysisTime}} sec.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-2 text-xs-center">
        <div class="card  card-block card-default form-group">
          <img class="card-img-top img-responsive" style="height: 100%; width: 100%"
               src="https://cdn2.iconfinder.com/data/icons/picons-essentials/71/plus-512.png"
               alt="Card image cap" href="javascript:void(0)" (click)="showSelect()">
          <a class="card-link" href="javascript:void(0)" (click)="showSelect()">Add new</a>
        </div>
      </div>
    </div>
  </div>
</div>
