<div class="container-fluid bg-faded" style="height: 100%">
  <div class="row pt-5"></div>
  <div class="row pt-5"></div>
  <div class="row">
    <div class="col-md-6 offset-md-3 pt-5">
      <div class="card text-center">
        <div class="card-block">
          <h4 class="card-title">No analysed profiles yet</h4>
          <p class="card-text">Click button to select source of analysis.</p>
          <button (click)=showSelect() class="btn btn-primary">Select source</button>
        </div>
      </div>
    </div>
  </div>
</div>
