<div class="container-fluid bg-faded" style="height: 100%">
  <div class="jumbotron">
    <img class="img-responsive" style="height: 20%"
         src="assets/img/linkedin-transparent.png">
    <h1>Linkedin Analysis tool</h1>
    <p class="lead">Analyze person's linkedin profile and get the latest information about his working skills, his
      projects, his positions and recommendations received and experience.</p>
    <div class="input-group col-sm-4 offset-sm-4">
      <input type="text" class="form-control" placeholder="Analyze for..." [(ngModel)]="login">
      <span class="input-group-btn">
        <button class="btn btn-secondary btn-success" type="button"
                data-loading-text=""
                (click)="analyze()"
                [ngClass]="{'disabled':  !login || login == '' }">
          <span>Analyze</span>
        </button>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Positions overview</h2>
      <p>Overview candidate's positions. Understanding this kind of information can help to clarify correct candidate
        positioning.</p>
    </div>
    <div class="col-lg-4">
      <h2>Skills and interests</h2>
      <p>Explore candidate skills and approves of his skills. It can be a specialist with a strong knowledge in field
        you are interested in. Also have a look at candidates interests.§ </p>
    </div>
    <div class="col-lg-4">
      <h2>Educations and courses</h2>
      <p>Browse candidate educations and courses. Well certified specialist is more preferable than not certified. Have
        a look at all types of educations that candidate took. </p>
    </div>
  </div>
</div>
